
header{
  background-image: url("https://raw.githubusercontent.com/naoya1215/naoyahomepage/main/2412426e-cfd7-4138-b7c1-36fd24f9255c%202.png");
  background-size: cover;
  height:1000px;
  width:100%
}

.home{
  position: fixed;
}

header h1{
  margin-bottom:700px;
  float:left;
  font-family: Comic Sans MS;
}

.menu-icon{
  display:none;
}

.header-right i{
  display: block;
  float: right;
  margin: 50px;
}

.center a{
  float:left;
  margin-right:100px;
  margin-top:150px;
}

.study{
  height:1500px;
}

.study h3{
  border-bottom:1px solid gray;
}

.Progate span{
  background:linear-gradient(transparent 80%, #f6c 0%);
  width:70px;
  display:block;
}

.Progate img{
  display:block;
  margin-top:40px;
  margin-right:40px;
  float:left;
  height:380px;
  width:300px;
}

.Progate li{
  padding-top:35px;
  letter-spacing:3px;
}

.book span{
  background:linear-gradient(transparent 80%, #f6c 0%);
  width:440px;
  display:block;
  margin-top:200px;
}

.book img{
  display:block;
  margin-top:40px;
  margin-right:40px;
  float:left;
  height:380px;
  width:300px;
}

.book li{
  padding-top:35px;
  letter-spacing:3px;
}

.Techcamp span{
  background:linear-gradient(transparent 80%, #f6c 0%);
  width:130px;
  display:block;
  margin-top:150px;
}

.Techcamp img{
  display:block;
  margin-top:40px;
  margin-right:40px;
  float:left;
  height:380px;
  width:300px;
}

.Techcamp li{
  padding-top:35px;
  letter-spacing:3px;
}

.Portfolio{
  height:500px;
  width:100%;
}

.Portfolio h3{
  margin-top:500px;
  border-bottom:1px solid gray;
}
