header{
  background-image: url("/Users/yanagisawanaoya/Desktop/html_lesson/2412426e-cfd7-4138-b7c1-36fd24f9255c 2.jpeg");
  background-size: cover;
  height:1000px;
  width:100%
}

header h1{
  margin-bottom:700px;
  float:left;
  font-family: Comic Sans MS;
}

.header-right i{
  display: block;
  float: right;
  margin: 50px;
}

.center p{
  float:left;
  margin-right:100px;
  margin-top:150px;
}

.study{
  height:1000px;
}

.study h3{
  border-bottom:1px solid gray;
}

.Progate span{
  background:linear-gradient(transparent 80%, #f6c 0%);
  width:70px;
  display:block;
}

.Progate img{
  display:block;
  margin-top:40px;
  margin-right:40px;
  float:left;
}

.Progate li{
  padding-top:35px;
  letter-spacing:3px;
  line-height:0.5em;
}

.book span{
  background:linear-gradient(transparent 80%, #f6c 0%);
  width:440px;
  display:block;
  margin-top:60px;
}

.book img{
  display:block;
  margin-top:40px;
  margin-right:40px;
  float:left;
}

.book li{
  padding-top:35px;
  letter-spacing:3px;
  line-height:0.5em;
}

.Techcamp span{
  background:linear-gradient(transparent 80%, #f6c 0%);
  width:130px;
  display:block;
  margin-top:150px;
}

.Techcamp img{
  display:block;
  margin-top:40px;
  margin-right:40px;
  float:left;
}

.Techcamp li{
  padding-top:35px;
  letter-spacing:3px;
  line-height:0.5em;
}

.Portfolio{
  height:150px;
}

.Portfolio h3{
  border-bottom:1px solid gray;
}

.textbox{
  width:225px;
}

.soshin{
  display:block;
}

.access h3{
  border-bottom:1px solid gray;
}
